.main {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
        "hd hd"
        "content content"
        "ft ft";
}

.mainContent {
  grid-area: content;
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

footer .legal a, footer .socialMedia a {
  padding: 8px;
}

footer .legal span {
  padding-right: 10px;
}
