html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 1.42857143;
  color: #333;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}

a {
  color: #337ab7;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: #23527c;
    text-decoration: underline;
  }
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
        "hd hd"
        "content content"
        "ft ft";
}

#root {
  height: 100vh;
  background-color: #cbcccd;
}

header {
  grid-area: hd;
  grid-column-end: span 2;
  display: flex;
  align-items: center;
  padding: 8px;
}
.mainContent {
  grid-area: content;
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}
footer {
  grid-area: ft;
  background: #fff;
  border-top: 1px solid rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 40px;
  font-size: 1.4rem;
}
footer .legal a, footer .socialMedia a {
  padding: 8px;
}
footer .legal span {
  padding-right: 10px;
}
